#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;

  /* --primary-color:rgb(218, 142, 2);
  --secondary-color:#BBD1EA;
  --background-color:#04080F;
  --call-to-action-color:#0f1a2d; */

  --bluish-color: #153ce9;
  --purplish-color: rgb(130, 54, 206);
  --dark-purplish-color: #63299e;
  --skybluish-color: skyblue;
  --second-black-color: #18181a; /*for meta info & features */
}
* {
  box-sizing: border-box;
}
/*URL shortner componnet css */

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:  100vh;
  width: 100%;
}
.main-container h1,
.center-text {
  font-size: clamp(30px, 10vw, 80px);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: normal;
}

.main-container .center-text {
  /* font-size: 72px; */

  background: linear-gradient(
    to right,
    var(--bluish-color),
    var(--purplish-color)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.main-container p {
  font-size: clamp(18px,1.7vw,25px);
  color: white;
  opacity: 60%;
}

.input-bg {
  width: min(100%, 700px);
  padding: 5px 15px;
  margin-top: 70px;
  position: relative;
  border-radius: var(--border-radius);
  padding: 2px;
 
}
.input-bg::before,
.input-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    90deg,
    var(--purplish-color),
    var(--bluish-color),
    var(--skybluish-color)
  );
  background-size: 400%;
  z-index: -1;
  animation: rotate 8s linear infinite;
  width: 100%;
  border-radius: 10px;
}
.input-bg::after {
  filter: blur(10px);
  transform: translate3d(0, 0, 0); /* For Safari */
}
.url-input-bg {
  
  display: flex;
  width: 100%;
  /* height: 100%; */
  border-radius: 10px;
  padding: 5px 10px;
  z-index: 4;
  background-color: #0f1a2d;
  height: 60px;
  /* background-color: green; */
}

.url-input{

width: 100%;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 5px 15px;

  border-radius: 10px;
  height: 100%;
  font-size: 18px;
 
}
.url-input-bg button {

  background-color: var(--purplish-color);
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  color: white;
  border-radius: 10px;
  gap: 5px;
  font-size: 20px;

}

.url-input-bg button:hover {
  background-color: var(--dark-purplish-color);
  transition: 0.4s ease;
}

@keyframes rotate {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.url-container {
  margin-top: 30px;
  display: flex;
  gap: 25px;
  align-items: center;
}
.url-container .url {
  color: white;
  font-size: 25px;
}

.url-container .copy-icon {
  font-size: 30px;
  color: green;
  cursor: pointer;

}
.url-container .copy-icon:hover{
  transition: 0.5s ease-in-out;
  transform:scale(1.2);
}

@media (max-width:500px) {
  .btn-text{
    display: none;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  height: 70vh;
    

    width: 100%;
  }
}